/target/
*/target/**
**/META-INF/
!.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

.vscode

/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/api/target/
