[mysqld]

# ----------------------------------------------
# Enable the binlog for replication & CDC
# ----------------------------------------------

# Enable binary replication log and set the prefix, expiration, and log format.
# The prefix is arbitrary, expiration can be short for integration tests but would
# be longer on a production system. Row-level info is required for ingest to work.
# Server ID is required, but this will vary on production systems
server-id         = 223344
log_bin           = mysql-bin
binlog_format     = row
#binlog_expire_logs_seconds  = 86400

default_authentication_plugin = mysql_native_password


#[mysqld]
### Binlog
#log-bin=/var/log/mysql
##log-bin = /var/log/mysql/mysql-bin.log
#binlog-format = ROW
#sync-binlog = 1
#max_binlog_size = 1GB
#expire_logs_days = 7
#server-id=1
##log-bin=/var/log/mysql/bin.log
##log-bin-index=/var/lib/mysql/bin-log.index
##max_binlog_size=100M
##binlog_format=row
##socket=mysql.sock

